-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: wms_db
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Current Database: `wms_db`
--

CREATE DATABASE /*!32312 IF NOT EXISTS*/ `wms_db` /*!40100 DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci */;

USE `wms_db`;

--
-- Table structure for table `_user`
--

DROP TABLE IF EXISTS `_user`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `_user` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `password` varchar(255) DEFAULT NULL,
  `role` varchar(255) DEFAULT NULL,
  `username` varchar(255) DEFAULT NULL,
  `role_id` bigint(20) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `FKytuvfa9yho4pu41yhtor4cw6` (`role_id`),
  CONSTRAINT `FKytuvfa9yho4pu41yhtor4cw6` FOREIGN KEY (`role_id`) REFERENCES `wms_role` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `_user`
--

LOCK TABLES `_user` WRITE;
/*!40000 ALTER TABLE `_user` DISABLE KEYS */;
INSERT INTO `_user` VALUES (1,'$2a$10$ATrLrehNMuwn7jnXKY/fnOcGnbhyTr/eMJyEJqfru6AjIqYzofAuS','ADMIN','admin',2),(2,'$2a$10$67f3yTZ9nvsEcSz2TJ24ZeKsmJOPCWEWw9oOACYQ3lsaqUvm1TLb6','MANAGER','manager',3),(3,'$2a$10$YpTeoiMRS5zgeoc53ssiGunD60azgSFFXTLKYTUaCaHVF02ArnXey','WORKER','worker',4),(4,'$2a$10$6bCYjV6jlAgCUzQaCJx49.mkIcdDppCAXtrYnnCJJjU9AS.rJLbhu','SUPER_ADMIN','superadmin',1);
/*!40000 ALTER TABLE `_user` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `aisle`
--

DROP TABLE IF EXISTS `aisle`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `aisle` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `aisle_number` varchar(255) DEFAULT NULL,
  `zone_id` bigint(20) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `FK4apmubhdm90t5ymubekg4i1xl` (`zone_id`),
  CONSTRAINT `FK4apmubhdm90t5ymubekg4i1xl` FOREIGN KEY (`zone_id`) REFERENCES `zone` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `aisle`
--

LOCK TABLES `aisle` WRITE;
/*!40000 ALTER TABLE `aisle` DISABLE KEYS */;
INSERT INTO `aisle` VALUES (1,'A1',1),(2,'A2',1),(3,'B1',2),(4,'B2',2),(5,'D-184629',5),(6,'D-184700',6);
/*!40000 ALTER TABLE `aisle` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `bin`
--

DROP TABLE IF EXISTS `bin`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `bin` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `barcode` varchar(255) NOT NULL,
  `height_cm` decimal(38,2) NOT NULL,
  `length_cm` decimal(38,2) NOT NULL,
  `max_weight_g` decimal(38,2) NOT NULL,
  `occupied_volume_cm3` decimal(10,2) DEFAULT 0.00,
  `occupied_weight_g` decimal(10,2) DEFAULT 0.00,
  `status` enum('AVAILABLE','BLOCKED','FULL') NOT NULL,
  `width_cm` decimal(38,2) NOT NULL,
  `rack_id` bigint(20) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UKe92k69t11hl3kapj8cjuwpjnv` (`barcode`),
  KEY `FKd1ssto2ei2xkxbf9wtxk5l1sm` (`rack_id`),
  CONSTRAINT `FKd1ssto2ei2xkxbf9wtxk5l1sm` FOREIGN KEY (`rack_id`) REFERENCES `rack` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=46 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `bin`
--

LOCK TABLES `bin` WRITE;
/*!40000 ALTER TABLE `bin` DISABLE KEYS */;
/*!40000 ALTER TABLE `bin` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `goods_receipt`
--

DROP TABLE IF EXISTS `goods_receipt`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `goods_receipt` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `created_at` datetime(6) DEFAULT NULL,
  `grn_no` varchar(255) NOT NULL,
  `purchase_order_id` bigint(20) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UKdy489pshrqm86d6yohyri0j5f` (`grn_no`),
  KEY `FKfe9lu9yqs6ic9kgjk99hx09g9` (`purchase_order_id`),
  CONSTRAINT `FKfe9lu9yqs6ic9kgjk99hx09g9` FOREIGN KEY (`purchase_order_id`) REFERENCES `purchase_order` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `goods_receipt`
--

LOCK TABLES `goods_receipt` WRITE;
/*!40000 ALTER TABLE `goods_receipt` DISABLE KEYS */;
/*!40000 ALTER TABLE `goods_receipt` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `goods_receipt_line`
--

DROP TABLE IF EXISTS `goods_receipt_line`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `goods_receipt_line` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `batch_no` varchar(255) DEFAULT NULL,
  `quantity_received` int(11) NOT NULL,
  `goods_receipt_id` bigint(20) NOT NULL,
  `sku_id` bigint(20) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `FKff5scxf5vgristhdleqkhh0p` (`goods_receipt_id`),
  KEY `FK7vbp629buf3nms2b8s7b6db1v` (`sku_id`),
  CONSTRAINT `FK7vbp629buf3nms2b8s7b6db1v` FOREIGN KEY (`sku_id`) REFERENCES `sku` (`id`),
  CONSTRAINT `FKff5scxf5vgristhdleqkhh0p` FOREIGN KEY (`goods_receipt_id`) REFERENCES `goods_receipt` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `goods_receipt_line`
--

LOCK TABLES `goods_receipt_line` WRITE;
/*!40000 ALTER TABLE `goods_receipt_line` DISABLE KEYS */;
/*!40000 ALTER TABLE `goods_receipt_line` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `inventory`
--

DROP TABLE IF EXISTS `inventory`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `inventory` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `batch_no` varchar(255) DEFAULT NULL,
  `created_at` datetime(6) DEFAULT NULL,
  `quantity` int(11) NOT NULL,
  `serial_no` varchar(255) DEFAULT NULL,
  `state` enum('AVAILABLE','IN_PUTAWAY','PACKED','PICKED','RECEIVED','RESERVED','SHIPPED') NOT NULL,
  `updated_at` datetime(6) DEFAULT NULL,
  `bin_id` bigint(20) DEFAULT NULL,
  `goods_receipt_line_id` bigint(20) DEFAULT NULL,
  `sku_id` bigint(20) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UKmqjvyr262axr72p81v01yh5dw` (`serial_no`),
  KEY `FKqa1920f792pa6ovxiijik5otg` (`bin_id`),
  KEY `FKg2je67onkpjklf8phj9h5rpal` (`goods_receipt_line_id`),
  KEY `FKkgq5xmyybe2iw982vxb0uj03k` (`sku_id`),
  CONSTRAINT `FKg2je67onkpjklf8phj9h5rpal` FOREIGN KEY (`goods_receipt_line_id`) REFERENCES `goods_receipt_line` (`id`),
  CONSTRAINT `FKkgq5xmyybe2iw982vxb0uj03k` FOREIGN KEY (`sku_id`) REFERENCES `sku` (`id`),
  CONSTRAINT `FKqa1920f792pa6ovxiijik5otg` FOREIGN KEY (`bin_id`) REFERENCES `bin` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=82 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `inventory`
--

LOCK TABLES `inventory` WRITE;
/*!40000 ALTER TABLE `inventory` DISABLE KEYS */;
/*!40000 ALTER TABLE `inventory` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `movement_log`
--

DROP TABLE IF EXISTS `movement_log`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `movement_log` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `action` varchar(255) DEFAULT NULL,
  `created_at` datetime(6) DEFAULT NULL,
  `from_state` enum('AVAILABLE','IN_PUTAWAY','PACKED','PICKED','RECEIVED','RESERVED','SHIPPED') DEFAULT NULL,
  `to_state` enum('AVAILABLE','IN_PUTAWAY','PACKED','PICKED','RECEIVED','RESERVED','SHIPPED') NOT NULL,
  `user_id` bigint(20) DEFAULT NULL,
  `bin_id` bigint(20) DEFAULT NULL,
  `inventory_id` bigint(20) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `FKa7830eai8qjn1yfpudwrp2jt9` (`bin_id`),
  KEY `FKqmr2cn72scia52t1g100dlq5` (`inventory_id`),
  CONSTRAINT `FKa7830eai8qjn1yfpudwrp2jt9` FOREIGN KEY (`bin_id`) REFERENCES `bin` (`id`),
  CONSTRAINT `FKqmr2cn72scia52t1g100dlq5` FOREIGN KEY (`inventory_id`) REFERENCES `inventory` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `movement_log`
--

LOCK TABLES `movement_log` WRITE;
/*!40000 ALTER TABLE `movement_log` DISABLE KEYS */;
/*!40000 ALTER TABLE `movement_log` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pick_task`
--

DROP TABLE IF EXISTS `pick_task`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `pick_task` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `bin_barcode` varchar(255) DEFAULT NULL,
  `quantity_to_pick` int(11) NOT NULL,
  `sku_code` varchar(255) DEFAULT NULL,
  `status` varchar(255) DEFAULT NULL,
  `inventory_id` bigint(20) NOT NULL,
  `rack_compartment_id` bigint(20) DEFAULT NULL,
  `sales_order_line_id` bigint(20) NOT NULL,
  `trolley_id` bigint(20) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `FKdgo0ldqqro1yatlxasmomfjcm` (`inventory_id`),
  KEY `FKsdjorcaffo80amh699qojydmf` (`rack_compartment_id`),
  KEY `FK5orfd6hbxxpq6778xsxr890xn` (`sales_order_line_id`),
  KEY `FKs00cmpr0d8ini21k3wdeqduw3` (`trolley_id`),
  CONSTRAINT `FK5orfd6hbxxpq6778xsxr890xn` FOREIGN KEY (`sales_order_line_id`) REFERENCES `sales_order_line` (`id`),
  CONSTRAINT `FKdgo0ldqqro1yatlxasmomfjcm` FOREIGN KEY (`inventory_id`) REFERENCES `inventory` (`id`),
  CONSTRAINT `FKs00cmpr0d8ini21k3wdeqduw3` FOREIGN KEY (`trolley_id`) REFERENCES `trolley` (`id`),
  CONSTRAINT `FKsdjorcaffo80amh699qojydmf` FOREIGN KEY (`rack_compartment_id`) REFERENCES `rack_compartment` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pick_task`
--

LOCK TABLES `pick_task` WRITE;
/*!40000 ALTER TABLE `pick_task` DISABLE KEYS */;
INSERT INTO `pick_task` VALUES (1,'BIN-A1-R1-01',1,'SKU-001','PENDING',1,NULL,17,NULL),(2,'BIN-A1-R1-01',1,'SKU-002','PENDING',2,NULL,18,NULL),(3,'BIN-A1-R1-04',1,'SKU-002','PENDING',12,NULL,18,NULL),(4,'BIN-A1-R1-04',1,'SKU-001','PENDING',11,NULL,19,NULL),(5,'BIN-A1-R2-02',1,'SKU-002','PENDING',22,NULL,20,NULL),(6,'BIN-A2-R1-01',1,'SKU-002','PENDING',32,NULL,20,NULL);
/*!40000 ALTER TABLE `pick_task` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `purchase_order`
--

DROP TABLE IF EXISTS `purchase_order`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `purchase_order` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `expected_arrival_date` date DEFAULT NULL,
  `po_number` varchar(255) NOT NULL,
  `status` varchar(255) DEFAULT NULL,
  `supplier` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UKlwrq427j2idkadsjddbb16mr9` (`po_number`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `purchase_order`
--

LOCK TABLES `purchase_order` WRITE;
/*!40000 ALTER TABLE `purchase_order` DISABLE KEYS */;
INSERT INTO `purchase_order` VALUES (1,'2026-03-31','PO-2026-001','OPEN','TechSupply Co.'),(2,'2026-04-05','PO-2026-002','OPEN','Global Parts Ltd.');
/*!40000 ALTER TABLE `purchase_order` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `purchase_order_line`
--

DROP TABLE IF EXISTS `purchase_order_line`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `purchase_order_line` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `quantity` int(11) NOT NULL,
  `purchase_order_id` bigint(20) NOT NULL,
  `sku_id` bigint(20) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `FK210t80fsgdi4s4g7tlg9vdgkd` (`purchase_order_id`),
  KEY `FKrvcgk6gsmj6wj9x9g9w299in7` (`sku_id`),
  CONSTRAINT `FK210t80fsgdi4s4g7tlg9vdgkd` FOREIGN KEY (`purchase_order_id`) REFERENCES `purchase_order` (`id`),
  CONSTRAINT `FKrvcgk6gsmj6wj9x9g9w299in7` FOREIGN KEY (`sku_id`) REFERENCES `sku` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `purchase_order_line`
--

LOCK TABLES `purchase_order_line` WRITE;
/*!40000 ALTER TABLE `purchase_order_line` DISABLE KEYS */;
INSERT INTO `purchase_order_line` VALUES (1,50,1,1),(2,200,1,2),(3,100,1,3),(4,80,1,4),(5,20,1,5),(6,150,2,6),(7,100,2,7),(8,80,2,8),(9,200,2,9),(10,60,2,10);
/*!40000 ALTER TABLE `purchase_order_line` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `putaway_task`
--

DROP TABLE IF EXISTS `putaway_task`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `putaway_task` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `priority` int(11) NOT NULL,
  `status` enum('CANCELLED','COMPLETED','PENDING') NOT NULL,
  `inventory_id` bigint(20) NOT NULL,
  `suggested_bin_id` bigint(20) DEFAULT NULL,
  `warehouse_id` bigint(20) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UKakm59tqrbmfqnvu82pylhqi0j` (`inventory_id`),
  KEY `FK44p1vfmmv319vstf0q79g15oq` (`suggested_bin_id`),
  KEY `FK3ht8hxit6qypx0wlb1m3uax2x` (`warehouse_id`),
  CONSTRAINT `FK3ht8hxit6qypx0wlb1m3uax2x` FOREIGN KEY (`warehouse_id`) REFERENCES `warehouse` (`id`),
  CONSTRAINT `FK44p1vfmmv319vstf0q79g15oq` FOREIGN KEY (`suggested_bin_id`) REFERENCES `bin` (`id`),
  CONSTRAINT `FKjblv1c0oo34orpdf0hsys71jk` FOREIGN KEY (`inventory_id`) REFERENCES `inventory` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `putaway_task`
--

LOCK TABLES `putaway_task` WRITE;
/*!40000 ALTER TABLE `putaway_task` DISABLE KEYS */;
/*!40000 ALTER TABLE `putaway_task` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `rack`
--

DROP TABLE IF EXISTS `rack`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `rack` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `rack_identifier` varchar(255) DEFAULT NULL,
  `aisle_id` bigint(20) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `FKuoxavvoaimmkjfmi4lu0vy5e` (`aisle_id`),
  CONSTRAINT `FKuoxavvoaimmkjfmi4lu0vy5e` FOREIGN KEY (`aisle_id`) REFERENCES `aisle` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `rack`
--

LOCK TABLES `rack` WRITE;
/*!40000 ALTER TABLE `rack` DISABLE KEYS */;
INSERT INTO `rack` VALUES (1,'A1-R1',1),(2,'A1-R2',1),(3,'A2-R1',2),(4,'A2-R2',2),(5,'B1-R1',3),(6,'B1-R2',3),(7,'B2-R1',4),(8,'B2-R2',4),(9,'R-184629',5),(10,'R-184700',6);
/*!40000 ALTER TABLE `rack` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `rack_compartment`
--

DROP TABLE IF EXISTS `rack_compartment`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `rack_compartment` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `compartment_identifier` varchar(255) NOT NULL,
  `rack_id` bigint(20) NOT NULL,
  `sales_order_id` bigint(20) DEFAULT NULL,
  `trolley_id` bigint(20) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `FK77i0prkuvke47fag12brvlt12` (`rack_id`),
  KEY `FKpdkp123blgfe9dnw0fom52ec5` (`sales_order_id`),
  KEY `FKh4xd0rdhcd6w1bntxtk676n80` (`trolley_id`),
  CONSTRAINT `FK77i0prkuvke47fag12brvlt12` FOREIGN KEY (`rack_id`) REFERENCES `rack` (`id`),
  CONSTRAINT `FKh4xd0rdhcd6w1bntxtk676n80` FOREIGN KEY (`trolley_id`) REFERENCES `trolley` (`id`),
  CONSTRAINT `FKpdkp123blgfe9dnw0fom52ec5` FOREIGN KEY (`sales_order_id`) REFERENCES `sales_order` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `rack_compartment`
--

LOCK TABLES `rack_compartment` WRITE;
/*!40000 ALTER TABLE `rack_compartment` DISABLE KEYS */;
/*!40000 ALTER TABLE `rack_compartment` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sales_order`
--

DROP TABLE IF EXISTS `sales_order`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `sales_order` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `created_at` datetime(6) DEFAULT NULL,
  `customer_name` varchar(255) DEFAULT NULL,
  `order_date` date DEFAULT NULL,
  `so_number` varchar(255) NOT NULL,
  `status` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UKmr9ohtbpcyy4omm9cqtorr8xx` (`so_number`)
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sales_order`
--

LOCK TABLES `sales_order` WRITE;
/*!40000 ALTER TABLE `sales_order` DISABLE KEYS */;
/*!40000 ALTER TABLE `sales_order` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sales_order_line`
--

DROP TABLE IF EXISTS `sales_order_line`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `sales_order_line` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `quantity` int(11) NOT NULL,
  `sales_order_id` bigint(20) NOT NULL,
  `sku_id` bigint(20) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `FK3hhrmxpwt1cqlnxmtiwpy9wpg` (`sales_order_id`),
  KEY `FK2iivxmdygmrkuix420l9eehe6` (`sku_id`),
  CONSTRAINT `FK2iivxmdygmrkuix420l9eehe6` FOREIGN KEY (`sku_id`) REFERENCES `sku` (`id`),
  CONSTRAINT `FK3hhrmxpwt1cqlnxmtiwpy9wpg` FOREIGN KEY (`sales_order_id`) REFERENCES `sales_order` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=21 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sales_order_line`
--

LOCK TABLES `sales_order_line` WRITE;
/*!40000 ALTER TABLE `sales_order_line` DISABLE KEYS */;
INSERT INTO `sales_order_line` VALUES (1,2,1,1),(2,5,1,2),(3,3,2,3),(4,1,2,5),(5,2,3,4),(6,4,3,6),(7,3,4,7),(8,2,4,8),(9,1,5,1),(10,5,5,9),(11,10,6,2),(12,7,6,3),(13,2,7,5),(14,3,7,10),(15,4,8,4),(16,2,8,7),(17,1,9,1),(18,2,9,2),(19,1,10,1),(20,2,10,2);
/*!40000 ALTER TABLE `sales_order_line` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `shipment_record`
--

DROP TABLE IF EXISTS `shipment_record`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `shipment_record` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `awb_number` varchar(255) NOT NULL,
  `courier_name` varchar(255) NOT NULL,
  `created_at` datetime(6) DEFAULT NULL,
  `sales_order_id` bigint(20) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `FKmwdxv2dkx9lhmhyac2h47a0dj` (`sales_order_id`),
  CONSTRAINT `FKmwdxv2dkx9lhmhyac2h47a0dj` FOREIGN KEY (`sales_order_id`) REFERENCES `sales_order` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `shipment_record`
--

LOCK TABLES `shipment_record` WRITE;
/*!40000 ALTER TABLE `shipment_record` DISABLE KEYS */;
INSERT INTO `shipment_record` VALUES (1,'AWB00010001','DHL','2026-03-20 14:00:00.000000',1),(2,'AWB00020002','FedEx','2026-03-21 14:00:00.000000',2),(3,'AWB00030003','UPS','2026-03-23 14:00:00.000000',3),(4,'AWB00040004','DHL','2026-03-25 14:00:00.000000',4);
/*!40000 ALTER TABLE `shipment_record` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sku`
--

DROP TABLE IF EXISTS `sku`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `sku` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `description` varchar(255) DEFAULT NULL,
  `sku_code` varchar(255) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UKimyoy4bgvx948t7d3l76hpa2v` (`sku_code`)
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sku`
--

LOCK TABLES `sku` WRITE;
/*!40000 ALTER TABLE `sku` DISABLE KEYS */;
INSERT INTO `sku` VALUES (1,'Laptop 15\"','SKU-001'),(2,'Wireless Mouse','SKU-002'),(3,'USB-C Hub 7-port','SKU-003'),(4,'Mechanical Keyboard','SKU-004'),(5,'Monitor 27\"','SKU-005'),(6,'Webcam 1080p','SKU-006'),(7,'Headset USB','SKU-007'),(8,'Laptop Stand','SKU-008'),(9,'External SSD 1TB','SKU-009'),(10,'Docking Station','SKU-010');
/*!40000 ALTER TABLE `sku` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sku_dimension`
--

DROP TABLE IF EXISTS `sku_dimension`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `sku_dimension` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `height_cm` decimal(38,2) NOT NULL,
  `length_cm` decimal(38,2) NOT NULL,
  `weight_g` decimal(38,2) NOT NULL,
  `width_cm` decimal(38,2) NOT NULL,
  `sku_id` bigint(20) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UKtocgynund9ae5vbd69dbsm29y` (`sku_id`),
  CONSTRAINT `FKisrm1ta0geah6jmcm085omfnm` FOREIGN KEY (`sku_id`) REFERENCES `sku` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sku_dimension`
--

LOCK TABLES `sku_dimension` WRITE;
/*!40000 ALTER TABLE `sku_dimension` DISABLE KEYS */;
INSERT INTO `sku_dimension` VALUES (1,3.00,38.00,2100.00,26.00,1),(2,4.00,12.00,120.00,8.00,2),(3,2.00,12.00,180.00,8.00,3),(4,4.00,44.00,850.00,15.00,4),(5,6.00,65.00,5200.00,39.00,5),(6,8.00,14.00,280.00,10.00,6),(7,8.00,20.00,320.00,18.00,7),(8,4.00,26.00,380.00,22.00,8),(9,1.00,14.00,130.00,8.00,9),(10,10.00,22.00,920.00,18.00,10);
/*!40000 ALTER TABLE `sku_dimension` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `trolley`
--

DROP TABLE IF EXISTS `trolley`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `trolley` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `trolley_identifier` varchar(255) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UKpub6fswhevobalrscw4padsq1` (`trolley_identifier`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `trolley`
--

LOCK TABLES `trolley` WRITE;
/*!40000 ALTER TABLE `trolley` DISABLE KEYS */;
/*!40000 ALTER TABLE `trolley` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `warehouse`
--

DROP TABLE IF EXISTS `warehouse`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `warehouse` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `location` varchar(255) DEFAULT NULL,
  `name` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `warehouse`
--

LOCK TABLES `warehouse` WRITE;
/*!40000 ALTER TABLE `warehouse` DISABLE KEYS */;
INSERT INTO `warehouse` VALUES (1,'40 Industrial Ave, Chicago IL','Main Warehouse'),(2,'Pune','Test warehouse'),(3,'Demo City','Demo Warehouse 183916'),(4,'Demo City','Demo Warehouse 184140'),(5,'Demo City','Demo Warehouse 184629'),(6,'Demo City','Demo Warehouse 184700');
/*!40000 ALTER TABLE `warehouse` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `wms_role`
--

DROP TABLE IF EXISTS `wms_role`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `wms_role` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `name` varchar(100) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UKl9elko0p4hptoe0859wg8nnlp` (`name`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `wms_role`
--

LOCK TABLES `wms_role` WRITE;
/*!40000 ALTER TABLE `wms_role` DISABLE KEYS */;
INSERT INTO `wms_role` VALUES (2,'ADMIN'),(3,'MANAGER'),(1,'SUPER_ADMIN'),(4,'WORKER');
/*!40000 ALTER TABLE `wms_role` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `wms_role_permission`
--

DROP TABLE IF EXISTS `wms_role_permission`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `wms_role_permission` (
  `role_id` bigint(20) NOT NULL,
  `permission` enum('DASHBOARD_VIEW','INBOUND_RECEIVE','INBOUND_VIEW','INVENTORY_ADJUST','INVENTORY_VIEW','LABELS_PRINT','LABELS_VIEW','MASTER_MANAGE','MASTER_VIEW','ORDERS_CREATE','ORDERS_VIEW','PACKING_EXECUTE','PACKING_VIEW','PICKING_EXECUTE','PICKING_VIEW','PUTAWAY_EXECUTE','PUTAWAY_VIEW','REPORTS_EXPORT','REPORTS_VIEW','SHIPPING_CONFIRM','SHIPPING_VIEW','TROLLEYS_ASSIGN','TROLLEYS_CREATE','TROLLEYS_VIEW','USERS_MANAGE','USERS_VIEW') NOT NULL,
  PRIMARY KEY (`role_id`,`permission`),
  CONSTRAINT `FKdl2a9ypd53bm1vcbpy2b6u87j` FOREIGN KEY (`role_id`) REFERENCES `wms_role` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `wms_role_permission`
--

LOCK TABLES `wms_role_permission` WRITE;
/*!40000 ALTER TABLE `wms_role_permission` DISABLE KEYS */;
/*!40000 ALTER TABLE `wms_role_permission` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `zone`
--

DROP TABLE IF EXISTS `zone`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `zone` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `name` varchar(255) DEFAULT NULL,
  `warehouse_id` bigint(20) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `FK7oxiao9ggx5kk43m1avg2d71x` (`warehouse_id`),
  CONSTRAINT `FK7oxiao9ggx5kk43m1avg2d71x` FOREIGN KEY (`warehouse_id`) REFERENCES `warehouse` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `zone`
--

LOCK TABLES `zone` WRITE;
/*!40000 ALTER TABLE `zone` DISABLE KEYS */;
INSERT INTO `zone` VALUES (1,'Zone A – Ambient',1),(2,'Zone B – Refrigerated',1),(3,'Test Zone',1),(4,'test zone',1),(5,'Demo Zone 184629',5),(6,'Demo Zone 184700',6);
/*!40000 ALTER TABLE `zone` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-04-02 15:00:25
